<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
         <div class="main-content" >
             <img src="img/icons8-keep-dry-64.png" style="width: 150px;height:150px;align-self:center"/>
            {{>header}}
        </div>
    </body>
</html>