<div>
    <h1 id="heading"><a style="text-decoration:none; color:grey; text-align: center;" href="/news">News</a></h1>
    <img src="img/icons8-news-100.png" id="newsImage" />
    <h1 id="heading"><a href="/" style="text-decoration:none; color:grey;">Weather</a></h1>
    <img src="img/icons8-weather-200.png" id="weatherImage" style=""/>
</div>